
.course-display {
    background-color: #f8f9fa;
    padding: 2rem;
  }
  
  .course-display h2 {
    font-size: 2rem;
    color: #343a40;
    font-weight: 600;
  }
   
  
  .scrollable-list {
    max-height: 70vh;
    overflow-x: auto;
    padding: 0.5rem;
  }
  


  